<div class="col-md-4">
    <article class="zm-post-lay-a1">
        
        <div class="zm-post-thumb">
            <a href="<%= dispensary_path(dispensary) %>">
                <img src="">
            </a>
        </div>
        <%=dispensary.name%>
    </article>
</div>