<!--query the articles where include_in_digest = true, set them to false-->

<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>
		  Sample mail sent using smtp.
		</p>
	</body>
</html>