<div class = "wrap">
	<form id="contact-form" role="password_change" method="get" action = '/submit_password_change'
	    <div class="controls">
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                	<%= hidden_field_tag :user_id , current_user.id %>
	                    <label for="form_name">Old Password *</label>
	                    <input id="form_name" type="password" name="old_password" class="form-control" required="required" data-error="Old Password is required.">
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_email">New Password *</label>
	                    <input id="form_email" type="password" name="new_password" class="form-control" required="required" data-error="New Password is required.">
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_email">Confirm Password *</label>
	                    <input id="form_email" type="password" name="confirm_password" class="form-control" required="required" data-error="New Password is required.">
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-12">
	                <input type="submit" class="btn btn-send" value="Change Password">
	            </div>
	        </div>
	    </div>
	</form>
</div>