<!--PAGE SHOWS ALL OF THE ARTICLES OF A PARTICULAR STATE-->

<div class = 'side-bar'>
    
    <%= render 'pages/sidebar' %>
    
</div>

<div class = 'wrap'>

    <%= render 'pages/article_layout' %>
  
</div>