<!--PAGE SHOWS ALL OF THE ARTICLES OF A PARTICULAR STATE-->

<div class = 'state-logo'>
    <img src = "<%=asset_path(@state.logo)%>">
</div>

<% @articles_to_hide = [] %>

<div class = 'side-bar'>
    
    <%= render 'pages/sidebar' %>
    
</div>

<div class = 'wrap'>

    <%= render 'pages/article_layout' %>
  
</div>

<% @articles_to_hide.each do |item| %>
    <script>showOrHideArticles(document.getElementById("<%=item.name.downcase.tr(" ", "_") + '_checkbox' %>"));</script>
<% end %>