<!--queries-->
<%
	@side_sources = Source.all
	@side_categories = Category.all
	@side_states = State.order("name ASC")
%>


<!--have to check on and off based on if user is logged in and they have saved preferences-->
<div class = 'sources-sidebar'>
    <% @side_sources.each do |source| %>
        
        <div class = 'source' id = '<%= source.name.downcase.tr(" ", "_") %>'>
            
            <div class = 'source-icon inline'><%= link_to image_tag(asset_path(source.sidebar_logo)), source_path(source) %></div>
            
            <div class = 'source-name inline'><%= source.name%></div>                
        </div>
            
    <% end %>
</div>



