<div class = "wrap">
	<form id="contact-form" role="search" method="get" action = '/submit_contact_form'>
	    <div class="controls">
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_name">Name *</label>
	                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your name *" required="required" data-error="Firstname is required.">
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_email">Email *</label>
	                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="form-group">
	                    <label for="form_message">Message *</label>
	                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for us *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
	                    <div class="help-block with-errors"></div>
	                </div>
	            </div>
	            <div class="col-md-12">
	                <input type="submit" class="btn btn-send" value="Send Message">
	            </div>
	        </div>
	    </div>
	</form>
</div>