<% @articles_to_hide = [] %>

<div class = 'side-bar'>
    
    <%= render 'sidebar' %>
    
</div>

<div class = 'wrap'>

    <%= render 'article_layout' %>
  
</div>

<% @articles_to_hide.each do |item| %>
    <script>showOrHideArticles(document.getElementById("<%=item.name.downcase.tr(" ", "_") + '_checkbox' %>"));</script>
<% end %>