<% @articles_to_hide = [] %>
<% article_start = 20 %>

<div class = 'side-bar'>
    
    <%= render 'sidebar' %>
    
</div>

<div class = 'wrap'>

    <%= render 'article_layout' %>
  
</div>

<% @articles_to_hide.each do |item| %>
    <script>showOrHideArticles(document.getElementById("<%=item.name.downcase.tr(" ", "_") + '_checkbox' %>"));</script>
<% end %>

<script>
    $(window).scroll(function() {
       if($(window).scrollTop() + $(window).height() == $(document).height()) {
           <% 
               #@articles = Article.where('image IS NOT NULL').order("created_at DESC").limit(20).skip(article_start)
               #render 'article_layout'
           %> 
       }
    });
</script>