<!--set the user state-->
<% #@state = State.find_by name: request.location.state if request.location%>


<h1 align = 'center'>:Cheeseburger Emoji:</h1>


<script>
    function dispIndexImageError(image) {
      image.onerror = "";
      image.src = "<%= asset_path 'assets/deal-dispensary/dispensaryIndexPlaceholder-7d1acdb8690d2fd4176b9a305b4ff7a3975a62d2e60ae8b3d4074e4766c95697.svg' %>"
      return true;
    }
</script>