<!--set the user state-->
<% #@state = State.find_by name: request.location.state if request.location%>


<div class = 'side-bar'>
    
    <%= render 'sidebar' %>
    
</div>

<div class = 'wrap'>

    <%= render 'article_layout' %>
  
</div>