<!--not actually hiding articles in search, but need to declare this array-->
<% @articles_to_hide = [] %>

<div class = 'side-bar'>
    
    <%= render 'sidebar' %>
    
</div>

<div class = 'wrap'>
    
    <%= render 'article_layout' %>
        
</div>
