<!-- Start page content -->
<section id="page-content" class="page-wrapper">
    <!-- Start contact message area -->
    <div class="zm-section bg-white pt-60">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="section-title-2 mb-40  text-center">
                        <h3 class="inline-block uppercase">Shopping Cart</h3>
                    </div>
                </div>
            </div>
            <div class="message-box">
                <%= render 'carts/cart' %>
                <p class="form-messege"></p>
                <h5>Total: <%= number_to_currency @cart.total_price %> </h5>
                <br/>
                <%= button_to 'Checkout', new_order_path, method: :get %>
                <td><%= link_to "Empty Your Cart", cart_path(@cart), method: :delete,
		                  data: { confirm: "Are you sure you want to empty your cart?"},
		                  class: "btn" %></td>
            </div>
        </div>
    </div>
    <!-- End contact message area -->
</section>
<!-- End page content -->