<!-- Start page content -->
<div id="page-content" class="page-wrapper">
    <div class="zm-section single-post-wrap bg-white ptb-70">
        <div class="container">
            <div class="row">
                <!-- Start left side -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 columns">
                    <div class="row mb-40">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="section-title">
                                <h2 itemprop="name" class="h6 header-color inline-block uppercase"><%=@vendor.name%></h2>
                            </div>                                
                        </div>
                    </div>
            	</div>
            </div>
        </div>
    </div>
</div>                    