/*
    social sharing?
    Code from here: https://simplesharingbuttons.com/#code
*/
ul.share-buttons{
    list-style: none;
    padding: 0;
}

ul.share-buttons li{
    display: inline;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.article-link {
    cursor: pointer;
    color: #2ab081;
}

#mobile-sticky-header  {
    display: none;
}
#mobile-sticky-logo {
    width: 90px;
    height: auto;
    display: none;
}

.fix-search {
    box-shadow: 0px 1px 50px #5E5E5E;
    position:fixed;
    top:52px;
    z-index: 10;
    background-color: white;
    width: 100%;
    padding-bottom: 5px;
    display: block !important;
}

.fix-logo {
    position: fixed;
    top: -8px;
    left: 0;
    right: 0;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    z-index: 20;
}

.fix-bar {
    position: fixed !important;
    top: 0px;
    z-index: 15 !important;
}
.archive-filter .sing-option {
    margin-top: 5px;
}