.article-page-heading {
	height: 250px;
	background-color: rgb(20,175,124); /* Old browsers */
	background-color: -moz-linear-gradient(-45deg,  rgba(20,175,124,1) 0%, rgba(149,47,146,1) 100%); /* FF3.6-15 */
	background-color: -webkit-linear-gradient(-45deg,  rgba(20,175,124,1) 0%,rgba(149,47,146,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background-color: linear-gradient(135deg,  rgba(20,175,124,1) 0%,rgba(149,47,146,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14af7c', endColorstr='#952f92',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-image: url(../assets/sourceLogos/CBZ_Source_Banner.png), linear-gradient(135deg,  rgba(20,175,124,1) 0%,rgba(149,47,146,1) 100%);
	background-size: 100%!important;
	background-position: 0 50%!important;
}


//article
	.article-ind {
		padding-bottom: 150px;
	}

	.article-main {
		width: 60%;
		margin-top: -150px;
	}

	.article-main-image {
		background: url(../assets/homepage/CBZ_News_Placeholder.jpg);
		width: 100%;
		min-height: 400px;
		background-size: cover!important;
		background-position: 50%!important;
	}
	
	.article-main .article-date {
		top: -170px;
	    left: 0;
	    font-weight: 100;
	    letter-spacing: .05em;
	    font-size: 14px;
	}
	
	.article-title {margin-top: -55px; text-align: center; padding: 0 30px;}
		.article-title h1 {
			font-weight: 900;
			font-size: 36px;
			color: #FFFFFF;
			letter-spacing: 1.79px;
			text-shadow: 0 2px 8px rgba(0,0,0,0.50);
		}
		
	.article-body {margin: 20px 0;}
	.article-body p {
		font-weight: 300;
		font-size: 18px;
		color: #333333;
		letter-spacing: 0.89px;
		line-height: 27px;
	}

// right sidebar
.sidebar .article {
	display: inline-block;
	width: 100%;
	margin: 15px 0;
}

.article-right-sidebar {vertical-align: top; width: 30%; margin-left: 9%;}
	.article-right-sidebar-title {border-bottom: 1px solid black;}
	.related-article {width: 100%; display: block; position: relative; margin: 20px 0;}
	
	//lower portion
	.more-from-source {margin-top: 20px;}
		.more-from-source a {
			display: block;
			font-size: 14px;
			color: #666666;
			letter-spacing: 0.05em;
			margin: 15px 0;
		}
		
//bottom
.article-ind-source a {color: #93278F;}
	.article-ind-source img {width: 150px; height: auto;}

.article-source-logo {
	width: 23%;
}	

.article-source-link {
	width: 70%;
}

.article-source-link p {
	color: #93278F;
	cursor: pointer;
}

.article-section-title {border-bottom: 1px solid #333; margin: 30px 0 10px;}
	.article-section-title h2 {
		font-weight: 900;
		font-size: 18px;
		color: #333333;
		letter-spacing: 0.05em;
	}
.article-tags .tags {
	display: inline-block;
	margin: 5px 5px 5px 0;
}
.article-tags .tags a {padding: 10px 20px; border: 1px solid #666; color: #666; border-radius: 50px; display: block; text-decoration: none;}
	.article-tags .tags a:hover {
		background: #93278F;
		color: #FFF;
		border: 1px solid #93278F;
		text-decoration: none;
	}

.article-back {margin: 40px 0;}



// Attempt to hide unwanted content within article

.article-body .post-meta-social-links,
.article-body img {display: none;}