// header
.header {padding: 50px;}
	.header-left {float: left;}
	
	.header-right {float: right; margin-top: 21px;}
		.header-login {font-weight: bold;}
			.signup-button {padding: 10px 20px; border: 2px solid #8A2A88; color: #8A2A88;}
			.signup-button:hover {text-decoration: none; color: white; background-color: #8A2A88;}
			
			.header-menu-button {cursor: pointer;}
	
	.header-center {width: 50%; margin: 0 auto;}
		#searchButton {background-color: #14AF7C; color: white; margin-left: 4%; padding: 10px 16px;}
		#searchQuery {background-color: #D9D9D9; width: 80%;}
		
		.under-search {margin-top: 20px; font-size: 16px; margin-left: 10%;}
			.under-search-button {border: 1px solid black; border-radius: 25px; padding: 5px 30px; cursor: pointer;}


.header-logo {display: inline-block; margin: 5px 0; width: 320px;}
        .header-logo img {width: 100%; height: auto}
        
        
//MENU OVERLAY
.menu-login {margin-bottom: 60px;}
	.menu-login a {font-size: 20px !important; display: inline-block !important;}

.menu-small-links {margin-top: 60px;}
	.menu-small-links a {font-size: 20px !important;}

        
//footer
.footer {min-height: 300px; background-color: #8A2A88;}
	.footer-text {width: 50%; margin: 0 auto; padding-top: 50px; text-align: center;}
		.footer-text h1, .footer-text p {color: white;}
		.footer-text-title, .footer-text-tagline {width: 45%; display: inline-block}
		.footer-text-title {text-align: center; padding-right: 30px; border-right: 2px solid white;}
		.footer-text-tagline {padding-left: 40px; text-align: left;}
		
	//email
	#saveEmailButton {background-color: #14AF7C; color: white; margin-left: 4%; padding: 10px 16px; border: none;}
	#emailTextBox {background-color: white; width: 50%;}