// header
.header {background: #333; padding: 5px 0;}
	.header .inline {vertical-align: middle;}
	.header-left {width: 20%;}
	
	.header-right {width: 15%; text-align: right;}
		.header-login {font-weight: bold;}
			.header-login p {color: #f2f2f2;}
			.signup-button {padding: 10px 20px; border: 2px solid #8A2A88; color: #8A2A88; border-radius: 3px;}
			.signup-button:hover {text-decoration: none; color: white; background-color: #8A2A88;}
			
			.header-menu-button {cursor: pointer;}
	
	.header-center {width: 64%; text-align: center;}
		#searchButton {background-color: #14AF7C; color: white; margin-left: 4%; padding: 10px 16px;}
		#searchQuery {background-color: #D9D9D9; width: 80%;}
		
	.search-filters {text-align: center; padding: 30px 0;}
		.under-search {font-size: 16px;}
			.under-search-button {border: 1px solid black; border-radius: 25px; padding: 5px 30px; cursor: pointer;}


.header-logo {display: inline-block; margin: 5px 0; width: 320px;}
        .header-logo img {width: 100%; height: auto}
        
        
//MENU OVERLAY
.menu-login {margin-bottom: 60px;}
	.menu-login a {font-size: 20px; display: inline-block !important;}

.overlay-content .menu-small-links {margin-top: 60px;}
	.overlay-content .menu-small-links a {font-size: 16px; letter-spacing: .03em; font-weight: 400;}

        
//Roll Up
.roll-up {
	background: #8A2A88;
	padding: 50px 0;
	text-align: center;
	color: #FFF;
}

.roll-up-text {
	margin-bottom: 40px;
}

.roll-up-text h2 {
	display: inline-block;
	font-weight: 900;
	font-size: 24px;
	letter-spacing: 0.52px;
	vertical-align: middle;
}

.roll-up-text p {
	display: inline-block;
	text-align: left;
	font-weight: 100;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.39px;
	vertical-align: middle;
	padding: 10px 0 10px 15px;
	border-left: 1px solid #979797;
	margin-left: 15px;
}

// Roll Up Form
.roll-up-form {
	width: 90%;
	max-width: 550px;
	margin: 0 auto;
}

.roll-up-form input.form-control {
	width: 80%;
}