@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #D9D9D9;
}
.wrap {
    width: 80%;
    margin: 0 auto;
    position: relative;
 }

.wrap.article-ind {
    width: 60%;
}

.flash-messages {
    text-align: center;
}

.article-index, .article-index-views {min-height: 500px;}
    .article-index-views {display: none;}

//infinite scroll
#infscr-loading {
  position: fixed;
  bottom: 200px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;

}

.home-display {
    position: relative;
}


//side bar
.source-drawer {
     background-color: #4c7384;
     position: absolute;
     z-index: 5000;
     width: 80px;
     top: 0;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     -webkit-transition: width .2s, left .2s;
 }
 .source-drawer:hover {
     width: 220px;
     -webkit-transition: width .2s, left .2s;
 }
 
 .source-drawer .inline {
     display: inline-block;
     vertical-align: middle;
 }
 
     .source-drawer:hover .source {
        opacity: .6;
        -webkit-transition: opacity .2s; /* Safari 3.1 to 6.0 */
        transition: opacity .2s;
    }
    
    .source-drawer .source {
         margin: 10px;
         width: 200px;
         cursor: pointer;
    }
     
    .source-drawer .source:hover {
        opacity: 1;
        -webkit-transition: opacity .2s; /* Safari 3.1 to 6.0 */
        transition: opacity .2s;
    }
 
    .source-drawer .source-check {
         display: none;
     }
    .source-icon {
        width: 60px;
    }
    .source-icon img {
         width: 100%;
         min-height: 60px;
         height: auto;
         background: #14AF7C;
         border-radius: 5px;
     }
     .source-drawer .source-name {
         opacity: 0;
         color: #FFF;
         margin-left: 10px;
         transition: opacity .2s ease-out;
        -moz-transition: opacity .2s ease-out;
        -webkit-transition: opacity .2s ease-out;
        -o-transition: opacity .2s ease-out;
     }
     .source-drawer:hover .source-name {
         opacity: 1;
         transition: opacity .5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -webkit-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out;
     }
     
    .sidebar-plus {
         position: absolute;
         bottom: -24px;
         width: 50px;
         left: 0;
         right: 0;
         margin-right: auto;
         margin-left: auto;
         cursor: pointer;
     }
        .sidebar-plus img {
             width: 50px;
             height: 50px;
         }
      
      
//article
.article {
    width: 23%;
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 2%;
    position: relative;
    height: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    background-size: cover !important;
    background-position: 50% !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
    // .article:nth-child(4n+1) {margin-right: 0;}
    .last {margin-right: 0;}
    .article:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .article-image {
        width: 100%;
        height: 300px;
        border-radius: 5px;
     }
    
    .article-date {
        position: absolute;
        top: 10px;
        left: 5%;
        color: #FFFFFF;
        text-shadow: 0 0 7px #000000;
        
     }
    
    
    .article-bottom {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.57+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,.05) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,.05) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,.05) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#91000000',GradientType=0 ); /* IE6-9 */
        background: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60%;
        left: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
     }
         .grid-article-title {
             width: 90%;
             position: absolute;
             bottom: 60px;
             left: 15px;
         }
        .grid-article-title h1 {
            font-size: 22px;
            font-weight: 900;
            color: #FFFFFF;
            letter-spacing: 0.03em;
            text-shadow: 0 0 10px #000000;
         }
        .article-source {
            position: absolute;
            bottom: 15px;
            left: 15px;
         }
            .article-source img {
                width: auto;
                height: 35px;
                border-radius: 3px;
             }
             .article-source .inline {
                 display: inline-block;
                 vertical-align: middle;
             }
             
             .article-source .article-source-name {
                color: #FFF;
                margin-left: 5px;
                font-size: 12px;
                letter-spacing: .03em;
                font-weight: 300;
             }
            
    //twitter sharing
    .admin-twitter-share {
        position: absolute;
        bottom: 5px;
        right: 5px;
     }
        .admin-twitter-share-button {
            padding: 10px 20px;
            background-color: blue;
            color: white;
            margin-bottom: 0px;
         }