// GENERAL OVERLAY STYLING ON OVERLAY.CSS.SCSS

.overlay-table {text-align: center; width: 80%; margin: 30px auto;} 
	.overlay-table h1 {color: white; font-size: 36px; text-align: center; text-transform: uppercase; margin: 20px 0 10px;}
	.overlay-table p {font-size: 25px; color: white;}
	
	// checkboxes
	.overlay-table input {display: block; margin: 0 auto;}
	
	// sources table
	.overylay-sources 
		 .overlay-source {width: 20%; margin: 0 5px; display: inline-block;}
			
	//category table
	.overylay-categories {margin-top: 100px;}
		.overlay-category {width: 20%; margin: 0 5px; display: inline-block;}
			
	//state table
	.overylay-states {margin-top: 100px;}
		.overlay-state {width: 20%; margin: 0 5px; display: inline-block;}
						