
.tabscontainer {
	width: 800px;
	margin: 0 auto;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
}

ul.tabs:hover {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	color: #2ab081;
}

ul.tabs li:hover {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	margin-bottom: 15px;
	color: #2ab081;
	transition: all 0.3s ease-out 0s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    cursor: pointer;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	margin-bottom: 15px;

}

ul.tabs li.current{
	background: #ffffff;
	color: #222;
	border: 1px solid #e6e6e6;
	color: #8A2A88;
}

.tab-content {
	display: none;
	background: #ffffff;
	padding: 15px;
	border: 1px solid #e6e6e6;
}

.tab-content.current {
	display: inherit;
}

/* My Page DropDowns */

.dropbtn {
    background-color: #ffffff;
    color: #333;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.margintop {
  margin-top: 20px !important;
}

/*ajax for tabs*/
.ajax-spinner {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	display: none;
}
#tab-2 {
	position: relative;
}
