<!--hash information from https://www.tutorialspoint.com/ruby/ruby_hashes.htm-->

<div class = 'product-dispensary' style = 'width: 30%; display: inline-block; margin: 10px; padding: 5px;'>
	<div class="zm-post-thumb">
	    <a href="<%= dispensary_path(dispensary) %>">
	        <img src="">
	    </a>
	</div>
	<p>Dispensary Name: <%=dispensary.name%> </p>
	
	<!--fields from hash map-->
	<p>Price: <%= @dispensary_to_product[dispensary.id].price %></p>
	
	
</div>

