<div class="col-md-12 mt-20">
    <!--modal-->
    <!--render 'product_items/dialog'-->
    
    <div id="addToCartModal" class="modal" role="dialog"></div>
    
    
    <div class="title">Pricing</div>
    <!-- table -->
    <!--<div class="table-responsive">-->
        <table id="product-price-table" class="display" style="width: 100% !important;">
            <thead>
                <tr>
                    <th>Dispensary</th>
                    <th>Location</th>
                    <th>Buy</th>
                    <th>1 Gram</th>
                    <th>2 Grams</th>
                    <th>1/8 Ounce</th>
                    <th>1/4 Ounce</th>
                    <th>1/2 Ounce</th>
                    <th>1 Ounce</th>
                </tr>
            </thead>
    
                <!--loop through dispensaries-->
                <% @state_to_dispensary.each do |state_name, dispensaries| %>
                    
                    <% dispensaries.each do |dispensary_key| %>
                        <tr>
                            <td class="dispensary-td"><%=link_to dispensary_key.name, dispensary_path(dispensary_key.dispensary)%></td>
                            
                            <% value = @dispensary_to_product[dispensary_key.id] %>
                            <td>
                                <%=dispensary_key.location%>
                            </td>
                            <td>
                                <i class="fa fa-shopping-cart"></i>
                                <%= link_to 'Add To Cart', get_dsp_values_path(:product_id => @product.id, :dispensary_source_id => dispensary_key.id), 
                                    {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#addToCartModal'}  %>
                                <!--link_to "New Customer", new_customer_path, remote: true, class: "btn btn-primary"-->
                                
                                <!--data-toggle="modal" data-target="#removeSavedArticleModal"-->
                                
                                <!--link_to 'Add to Cart', -->
                                <!--    new_product_item_path(:product_id => @product_id, :dispensary_id => dispensary_key.dispensary_id),-->
                                <!--    remote: true -->
                                <!--(product_id: @product_id, dispensary_id: dispensary_key.dispensary_id)-->
							</td>
                            
                            
                            
                            <% 
                                i = 0
                                loop do 
                                    #if value.dsp_prices.where(display_order: i).any?
                                    dsps = value.dsp_prices.select { |dsp| dsp.display_order == i }
                                    if dsps.size > 0
                            %>
                                        <td style="text-align:center;">$<%=dsps.first.price%></td>    
                                    <% else %>
                                        <td style="text-align:center;">--</td>
                                    <% end
                                    break if i == 5
                                    i += 1
                                end
                            %>
                            
                        </tr>
                    
                    <% end %> <!-- end of loop over dispensaries in state  -->
                    
                <% end %> <!--end of state to dispensary loop-->
            
        </table>
    <!--</div>-->
</div>