<style>
    /*.state-name-row {*/
    /*    background-color: #eceeef;*/
    /*}*/
    /*.dispensary-td, .state-name-row td {*/
    /*    text-align: left;*/
    /*}*/
    /*table td {*/
    /*    text-align: center;*/
    /*}*/
</style>

<div class="col-md-12 mt-20">
    <div class="title">Pricing</div>
    <!-- table -->
    <div class="table-responsive">
        <table id="product-price-table" class="display" style="width: 100% !important;">
            <thead>
                <tr>
                    <th>Dispensary</th>
                    <th>1 Gram</th>
                    <th>2 Grams</th>
                    <th>1/8 Ounce</th>
                    <th>1/4 Ounce</th>
                    <th>1/2 Ounce</th>
                    <th>1 Ounce</th>
                </tr>
            </thead>
    
                <!--loop through dispensaries-->
                <% @state_to_dispensary.each do |state_name, dispensaries| %>
                    
                    <!--<tr class='state-name-row'>-->
                    <!--    <td>state_name.upcase</td>-->
                    <!--    <td>&nbsp;</td>-->
                    <!--    <td>&nbsp;</td>-->
                    <!--    <td>&nbsp;</td>-->
                    <!--    <td>&nbsp;</td>-->
                    <!--    <td>&nbsp;</td>-->
                    <!--    <td>&nbsp;</td>-->
                    <!--</tr>-->
                    
                    <% dispensaries.each do |dispensary_key| %>
                        <tr>
                            <td class="dispensary-td"><%=link_to dispensary_key.name, dispensary_path(dispensary_key.dispensary)%></td>
                            
                            <% value = @dispensary_to_product[dispensary_key.id] %>
                            
                            <% 
                                i = 0
                                loop do 
                                    if value.dsp_prices.where(display_order: i).any?
                            %>
                                        <td style="text-align:center;">$<%=value.dsp_prices.where(display_order: i).first.price%></td>    
                                    <% else %>
                                        <td style="text-align:center;">--</td>
                                    <% end
                                    break if i == 5
                                    i += 1
                                end
                            %>
                            
                        </tr>
                    
                    <% end %> <!-- end of loop over dispensaries in state  -->
                    
                <% end %> <!--end of state to dispensary loop-->
            
        </table>
    </div>
</div>