<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There was a Contact Form Submission</h1>
    
    <p>First Time Visiting Site:    <%=@firstTime%>    </p>
    <p>Primary Reason for visiting site:   <%=@primaryReason%>   </p>
    <p>Did you find everything you were looking for: <%=@findEverything%> </p>
    <p>Reason for not finding everything: <%=@reasonDidntFind%> </p>

  </body>
</html>