<div class = 'clear'></div>
<div class="roll-up">
	<div class="wrap">
		<div class = 'roll-up-text'>
				<h2>Join The Weekly Roll Up</h2>
				<p>Get the news you care about</br>delivered straight to your inbox every week</p>
		</div> <!-- END ROLL UP TEXT -->
		
	        <!--add email-->
	        <div class = 'roll-up-form'>
		        <form class="navbar-form" role="search" method="get" action = '/save_email'>
		            <input type="email" class="form-control input-lg" name='email' id ='emailTextBox' placeholder="Email Address" autocomplete='on' required=true>
		            <input type = 'submit' id = 'saveEmailButton' onclick = 'saveEmail()' class = "btn btn-default btn-green-touching" value = 'Sign Up' />
		        </form>		
			</div> <!-- END ROLL UP FORM -->
		</div> <!-- END WRAP -->
	</div><!-- END ROLL UP -->
