<div class = 'clear'></div>
<div class="footer">
	<div class="wrap">
		<div class="footer-logo">
			<div class = 'footer-image inline'>
				<%= link_to image_tag("header_footer/cbz-logo-us-gray.svg"), root_path %>
			</div>
		    <div class = 'footer-twitter inline'>
		    	<%= image_tag("header_footer/twitter-footer.png") %><p>@CannabizNetwork</p>
		    </div>
		    <div class = 'copyright'>
		        <p>Copyright 2016 | The Cannabiz Network | All Rights Reserved</p>
		    </div>
		</div>		
	</div>
</div>	
