<div class = 'clear'></div>
<div class="footer">
	<div class = 'footer-text'>
		<div class = 'footer-text-title'>
			<h1>Join The Weekly Roll Up</h1>
		</div>
		<div class = 'footer-text-tagline'>
			<p>Get the news you care about</br>delivered straight to your inbox every week</p>
		</div>
		
        <!--add email-->
        <form class="navbar-form inline" role="search" method="get" action = '/save_email'>
            <input type="email" class="form-control input-lg" name='email' id ='emailTextBox' placeholder="Email Address" autocomplete='on' required=true>
            <input type = 'submit' id = 'saveEmailButton' onclick = 'saveEmail()' class = "btn btn-default btn-green-touching" value = 'Sign Up' />
        </form>		
	</div>
</div>	
