<div class = 'header'>
    <div class = 'header-left'>
        <div class = 'header-logo inline'><%= link_to image_tag("header_footer/cbz-logo-us-color.svg"), root_path %></div>
    </div>
    <div class = 'header-right'>
        <div class = 'header-login'>
            <% if logged_in? %>
                <p><%= link_to 'Logout', logout_path, method: :delete %></p>
            <% else %>
                <p><%= link_to 'Sign Up', signup_path %> | <%= link_to 'Log In', login_path %></p>
            <% end %>
        </div>
    </div>

    <div class = 'header-center'>

        <!--search-->
        <form class="navbar-form inline" role="search" method="get" action = '/search'>
            <input type="text" class="form-control input-lg" name='query' id ='searchQuery' placeholder="What can we help you find..." autocomplete='on'>
            <input type = 'submit' id = 'searchButton' onclick = 'search()' class = "btn btn-default btn-green-touching" value = 'Search' />
        </form>

    </div>

</div>

